.ToDo-container {
  width: 30%;
  height: fit-content;
  background-color: purple;
  margin: auto;
  border-radius: 1em;
  padding: 2em;

  .title-container {
    background-color: white;
    width: 50%;
    margin: auto;
    border-radius: 1em;
  }
  .list-container {
    width: 100%;
    background-color: white;
    border-radius: 1em;
    height: 80%;
    padding: 2em;
    .list-item {
      margin: 2em;
      li {
        list-style-type: none;
      }
    }
  }
}
